/* En un proyecto real y mas grande lo separaría.
 * Haría un índice mejor, pero aquí está en orden simplemente 
 * igual que no incluyo clases responsivas.
 */
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

body {
    background-color: #fcfcfc;
    margin: 0;
    font-family: 'Amazon Ember', sans-serif;
}
#content {
    width: 100%;
    max-width: 960px;
    margin: auto auto;
}
#footer {
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Helpers */
a {
    text-decoration: none;
    color: #626262;
}
.fa-solid {
    font-size: 0.8em;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.max-100 {
    width: 100%;
    max-width: 100px;
    padding-top: 10px;
}
.btn-primary {
    background-color: #f6ae0b;
}

/* Product Table */
table {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 10px;
}
tr {
    background-color: #ffffff;
}
.table-header {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.table-header th, .table-header td {
    border-right: none;
    border-left: none;
    padding: 8px;
    vertical-align: top;
}
.table-header th {
    border-top: 1px solid #ccc;
}
.table-header tr {
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}
.table-header .col-features {
    text-align: left;
    width: 58.33%;
}
.table-body td {
    border: 1px solid #f1f1f1;
    padding: 15px;
}
.col-product { 
    width: 25%;
    position: relative;
}
.index-number {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: #e7e7e7;
    color: #000;
    font-weight: bold;
}
.col-product img {
    width: 100%;
    height: auto;
    display: block;
}
.col-rating { 
    width: 16.66%;
    text-align: center;
}
.col-rating p {
    margin: 2px;
}
.rating-number {
    font-size: 3.5em;
    font-weight: bold;
}
.star-rating {
    font-size: 1.5em;
    color: #f6ae0b;
    display: flex;
    justify-content: center;
}
.col-features {
    width: 33.33%;
}
.options-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 5px;
}
.options-list li {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: background-color 0.3s;
    font-size: 12px;
}
.p-title {
    font-weight: bold;
}
.p-brand {
    color: #a5a5a5;
}
.col-buy {
    width: 25%;
    text-align: center;
}
.buy-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buy-button a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.details {
    overflow: hidden;
    display: none;
}

.expanded {
    display: table-row;
}
/* Ribbon */
.ribbon {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.ribbon {
    --f: .5em;
    --r: .8em;
    position: absolute;
    top: -20px;
    left: calc(-1*var(--f));
    padding-inline: .25em;
    line-height: 1.8;
    background: #8acc42;
    border-bottom: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path: 
      polygon(0 0,0 calc(100% - var(--f)),var(--f) 100%,
        var(--f) calc(100% - var(--f)),100% calc(100% - var(--f)),
        calc(100% - var(--r)) calc(50% - var(--f)/2),100% 0);
}